@model UserLibrary.Models.SubMenuInfo
@using Kendo.Mvc.UI
@section scripts
    {
    <script src="~/Scripts/Users.js"></script>
}


    <style>
        .k-grid table {
            font-size: 14px;
        }

        .tooltips {
            position: relative;
            display: inline-block;
        }

            .tooltips .tooltiptext {
                visibility: hidden;
                background-color: black;
                color: #fff;
                border-radius: 6px;
                padding: 4px 27px 10px 10px;
                position: absolute;
                z-index: 1;
                bottom: -82%;
                right: 106%;
                margin-left: 5px;
            }

            .tooltips:hover .tooltiptext {
                visibility: visible;
            }

        #label {
            padding-left: 9px;
            padding-top: 2px;
        }
    </style>
    <script>

    </script>
    <div class="container background-ban">
        <br />
        <div class="col-md-12 col-lg-12 subheader2">
            <h1>User Management</h1>
            <hr />
        </div>
        <div class="container-fluid">
            <div class="row m_auto py-2">
                <div class="col-md-12 text-right pt-2 pt-0-sm pt-0-xs mb-30-sm mb-30-xs" style="margin-bottom:20px">

                    <button type="button" class="btn btn-warning prime_btn font-weight-normal" id="btnadd_User"><span></span> Add User</button>

                </div>
            </div>
        </div>
    </div>




    <div class="modal " tabindex="-1" id="add_User" data-keyboard="false" data-backdrop="static">

        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content" style="width: 1000px;">
                <div class="modal-header">
                    <h6 class="modal-title" id="add_Title">Add New User</h6>
                    <h6 class="modal-title" id="update_Title" style="display:none">Update User</h6>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row" id="single_LOS_SBU_section" style="display:none">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-md-6 col-lg-6">
                                    <div class="form-group pwc_form col-md-12 mt-2">
                                        <label for="inputState">LOS</label>
                                        <input type="text" class="form-control" id="Los" placeholder="Search LOS" aria-label="Recipient's username" aria-describedby="basic-addon2">
                                        <input type="text" id="fltrLos" style="display:none">
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-6">
                                    <div class="form-group pwc_form col-md-12 mt-2">
                                        <label for="inputState">SBU</label>
                                        <input type="text" class="form-control" id="sbu" placeholder="Search SBU" aria-label="Recipient's username" aria-describedby="basic-addon2">
                                        <input type="text" id="fltrSbu" style="display:none">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-md-6 col-lg-6" id="user_Add_Section">
                                    <div class="form-row m_auto">
                                        <div class="form-group pwc_form col-md-12 mt-2">

                                            <label for="inputState" id="user_drop_Label">User</label>
                                            <div id="owner_DropDown">
                                                <select id="user_drop" class="dynamic-option-create-createTag" style="width: 100%;" tabindex="4" placeholder="Choose a Owner..." required>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-6" id="user_Edit_Section" style="display:none">
                                    <div class="form-row m_auto">
                                        <div class="form-group pwc_form col-md-12 mt-2">
                                            <label for="inputState">User</label>
                                            <input type="text" name="user_drop" class="form-control" id="EditUser_Name" disabled>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6 col-lg-6" id="user_addradio_Section">
                                    <div class="form-group pwc_form col-md-12 mt-2">
                                        <label for="inputState" id="roleLabel">Role</label>
                                        <select id="roleDrp" style="height:40px" class="form-control pwc_dropdown_ctrl" onchange="MappingFunction()" required>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-6" id="user_editradio_Section" style="display:none">
                                    <div class="form-group pwc_form col-md-12 mt-2">
                                        <label for="inputState" id="roleLabel">Role</label>
                                        <input type="text" class="form-control" id="EditUser_Role" disabled>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row" id="multiple_LOS_SBU_Selection">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-md-6 col-lg-6">
                                    <div class="form-group pwc_form col-md-12 mt-2">
                                        <label for="inputState" id="multiple_LOS_Label">Los</label>
                                        <div id="list1" class="dropdown-check-list w-100" tabindex="100">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-6">
                                    <div class="form-group pwc_form col-md-12 mt-2">
                                        <label for="inputState" id="multiple_SBU_Label">Sbu</label>
                                        <div id="list2" class="dropdown-check-list w-100" tabindex="100">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" id="multiple_MENU_SUBMENU_Selection">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-md-6 col-lg-6">
                                    <div class="form-group pwc_form col-md-12 mt-2">
                                        <label for="inputState" id="multiple_MENU_Label">Menu</label>
                                        <div id="list3" class="dropdown-check-list w-100" style="width:80%" tabindex="100">
                                        </div>
                                    </div>
                                </div>
                                 <div class="col-md-6 col-lg-6">
                                <div class="form-group pwc_form col-md-12 mt-2">
                                    <label for="inputState" id="multiple_SUBMENU_Label">SubMenu</label>
                                    <div id="list4" class="dropdown-check-list w-100" tabindex="100">
                                    </div>
                                </div>
                            </div>

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <br />
                    </div>
                    <div class="row" id="multiple_LOS_SBU_Info" style="display:none">
                        <div class="col-md-12" id="complete_los_sbu_mappping">
                            <div class="form-group pwc_form">
                                <img src="~/img/info.jpg" /> All LOS and SBU are Mapped for SuperAdmin
                            </div>
                        </div>
                    </div>
                    <div class="row" id="user_Status_Section" style="display:none">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-md-6 col-lg-6">
                                    <div class="form-group pwc_form col-md-12 mt-2">
                                        <label for="inputname" class="d-flex">Status</label>
                                        <div class="custom-control custom-radio custom-control-inline">
                                            <input id="IsStatusTrue" name="IsStatusTrue" style="margin:15px" type="radio" value="true">
                                            <label class="custom-control-label mt-1" for="customRadio1">Active</label>
                                        </div>
                                        <div class="custom-control custom-radio custom-control-inline">
                                            <input id="IsStatusFalse" style="margin:10px" name="IsStatusFalse" type="radio" value="false">
                                            <label class="custom-control-label mt-1" for="customRadio2">In Active</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary second_btn" id="btnCancel_Role" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-primary prime_btn" id="btnadd_Role">Add User </button>
                        <button type="button" class="btn btn-primary prime_btn" id="btnUpdate" style="display:none;" onclick="Update()">Update User</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">

        <div id="adminListingGrid"></div>
    </div>

    <script type="text/javascript">


    </script>
